@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono%5Bwght%5D.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-Italic%5Bwght%5D.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: "Inter", sans-serif;
}

content {
  font-family: "Atkinson Hyperlegible", serif;
  font-size: 1.25rem;
}

pre,
code {
  font-family: "Maple Mono", monospace;
}
